#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

#
#    LowLevelRBG.MinLevelRBG
#        Description: 使用此模块设定玩家排队进入随机战场的最低等级
#        Default:     10
#

LowLevelRBG.MinLevelRBG = 10

#
#    LowLevelRBG.MaxLevelRBG
#        Description: 使用此模块设定玩家可以排队进入随机战场的最高等级
#        Default:     79
#

LowLevelRBG.MaxLevelRBG = 79
